@page
<div class="row">
    <div class="col-4">
        <form id="account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label>My Name</label>
                <input id="myName" class="form-control" />
            </div>
            <div class="form-group">
                <label>My Message</label>
                <input id="myMessage" class="form-control" />
            </div>
            <div class="form-group d-flex justify-content-center">
                <button id="sendMessage" type="button"class="btn">Send</button>
            </div>
        </form>
    </div>
    <div class="col-8">
        <ul id="messageList">
        </ul>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>/* chat functionality */
    $(document).ready(function () {
        const connection = new signalR.HubConnectionBuilder()
            .withUrl('/ws/chathub')
            .withAutomaticReconnect()
            .build();

        connection.on('ReceiveMessage', function (chatMessage) {
            const html = `<li>${chatMessage.message}</li>`
            $('#messageList').append(html);
        });

        $('#sendMessage').on('click', function (e) {
            e.preventDefault();
            const message = $('#myMessage')[0];
            console.log(message.value);
            if (message.value.length > 0) {
                /* Flush 0.5
                 * Messages are posted to server.
                 * Responses are received over sockets.
                 
                $.post(`${window.location.protocol}//${window.location.host}/api/v2/chat`, {
                    Message: message.value
                }, function (data) {
                    console.log(data)
                }, "application/json");*/
                $.ajax({
                    url: `${window.location.protocol}//${window.location.host}/api/v2/chat`,
                    type: 'POST',
                    data: JSON.stringify({ Message: message.value }),
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                    }
                });
            }
        });

        connection.start().catch(console.error)
    });</script>