@inherits ComponentBase
@inject HttpClient Http
  
<div class="col-sm-3 p-1">
    <label class="btn btn-outline-secondary py-5 w-100 play-mat-tile">
        <input type="radio" @onclick="DoVote" />@Data.Text
    </label>
</div>

@code {
    [Parameter]
    public PlayMatTileData Data { get; set; }

    private async Task DoVote(MouseEventArgs e)
    {
        var response = await Http.PostAsJsonAsync(
            $"http://localhost/api/v2/session/vote",
            new SendVoteRequest {
                Vote = Data.Value
            });

        if (response.IsSuccessStatusCode)
        {
            // do success toast.
        }
        else
        {
            // do failure toast.
        }
    }
}
